<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest"
         xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="ca4eeedb-4eb5-4242-992f-93bdc1dc18f1"
            Publisher="CN=Scott"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="497f9181-cf89-46ed-81ee-4519b00deb42"
                    PhonePublisherId="3c219732-a0cc-4ee0-8c7d-79b36c87d28b"/>

  <Properties>
    <DisplayName>EchoWallpaper.WindowsPhone.Silverlight</DisplayName>
    <PublisherDisplayName>Scott</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="AGHost.exe"
                 EntryPoint="MainPage.xaml">
      <m3:VisualElements
          DisplayName="EchoWallpaper.WindowsPhone.Silverlight"
          Square150x150Logo="Assets\SquareTile150x150.png"
          Square44x44Logo="Assets\Logo.png"
          Description="EchoWallpaper.WindowsPhone.Silverlight"
          ForegroundText="light"
          BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png"/>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>

      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
          <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>

    </Application>
  </Applications>
  <Capabilities>
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>

</Package>